*{
    margin:0;
    padding:0;
  /*   background: #BFD8D2; */
    font-family: Helvetica, sans-serif;
}

body{
    background: #BFD8D2;

}
.header{
    background: #FEDCD2;
    font-size: 18pt;
    color: #DF744A;
}

.header img{
    background: #FEDCD2;
    height: 50px;
    width: auto;
}

.button-style{
    background:#FEDCD2;
    color: #DF744A;
    padding: 10px;
    margin:5px;
    border: none;
    border-radius: 5px;
}

.button-style2{
    background:#DCB239;
    color: #DF744A;
    padding: 10px;
    margin:5px;
    border: none;
    border-radius: 5px;
}

.monthly-expenses img{
    background:#FEDCD2;
}

.monthly-expenses input{
    background:#FEDCD2;
}

.register{
   
    width: 100vw;
    /* height: 100vh; */
  /*   background-image: url('/images/ibrahim-rifath-OApHds2yEGQ-unsplash.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 
 */
}
.main{
    width: 100vw;

}
.income-and-salary{
    display:grid;
    grid-template-columns: repeat(3,33%);
    grid-template-rows: repeat(2,auto);
}

.movimientos1{
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 5px;
}

.movimientos2{
    grid-column-start: 2;
    grid-column-end: 3;
    margin: 5px;
}

.movimientos3{
    grid-column-start: 3;
    grid-column-end: 4;
    margin: 5px;
}

.income-and-salary .date p{
    grid-column-start: 1;
    grid-column-end: 4;
    color: #DF744A;
    background: #BFD8D2;
    padding: 10px;
}

/* .expenses{
    border: solid 2px  brown;
} */

/* .daily-expenses{
    border: solid 2px  gold;
   
} *//* 
.weekly-expenses{
    border: solid 2px green ;
}
.monthly-expenses{
    border: solid 2px pink;
} */
.expense-card-month{
    background-color:#FEDCD2;
    margin: 20px;
    width: 60%;
}

.expense-card-week{
    background-color:#DCB239;
    margin: 20px;
}

.desaparecer{
    display:none;
}